<!DOCTYPE html>
<html>
  <head>
    <title>Sakura Gardens LLC</title>
  </head>
  <body>
    <!-- nav bar -->
    <nav>
      <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Services</li>
        <li>Contact</li>
      </ul>
    </nav>

    <!-- home/top page -->
    <div>
      <h3>The Peninsula's Finest Home Providing Elderly Care</h3>
      <p>License #415600836</p>
    </div>

    <!-- about us -->
    <div>
      <p>Sakura Gardens, in San Mateo, provides 24-hour personal care and supervision for both ambulatory and non-ambulatory seniors. We offer room and board in a home surrounding providing a setting that is safe, comfortable, and enjoyable in which to live. Every room comes with its own private full bathroom. Each shower is conducive to the non-ambulatory resident. Sakura Gardens is staffed with bilingual (English/Japanese), well-trained, experienced care givers who enjoy working and assisting the elderly.</p>
    </div>

    <!-- services -->
    <div>
      <ul>
        <li>Physician</li>
        <li>Personal</li>
        <li>Dietetic</li>
        <li>Activity</li>
        <li>Housekeeping</li>
        <li>Transportation</li>
        <li>Hair Grooming</li>
        <li>Furniture & Furnishings</li>
        <li>Optional</li>
      </ul>
    </div>

    <!-- contact -->
    <div>
      <h2>Contact</h2>
      <h4>HIRO KITAMURA</h4>
      <ul>
        <li>P: (650) 525-1795</li>
        <li>C: (650) 315-3289</li>
        <li>F: (650) 525-0326</li>
      </ul>
      <h4>ADDRESS</h4>
      <p>2108 Isabelle Avenue San Mateo, CA 94403 (Nijiya market conveniently located one block away)<p>

      <iframe style="" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2108+Isabelle+Avenue+San+Mateo,+CA+94403&amp;aq=&amp;sll=39.499761,-111.547028&amp;sspn=5.492978,9.30542&amp;ie=UTF8&amp;hq=&amp;hnear=2108+Isabelle+Ave,+San+Mateo,+California+94403&amp;t=m&amp;ll=37.552471,-122.312679&amp;spn=0.023816,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
		  <small><a href="https://maps.google.com/maps f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2108+Isabelle+Avenue+San+Mateo,+CA+94403&amp;aq=&amp;sll=39.499761,-111.547028&amp;sspn=5.492978,9.30542&amp;ie=UTF8&amp;hq=&amp;hnear=2108+Isabelle+Ave,+San+Mateo,+California+94403&amp;t=m&amp;ll=37.552471,-122.312679&amp;spn=0.023816,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:center;display: block;">View Larger Map</a></small>
    </div>
  </body>
</html>
