// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 100%;
}

.top-bar {
  .name a {
    font-size: 1.3rem;
  }
  .top-bar-section {
    .right {
      a {
        font-size: 0.9rem;
      }
    }
  }
}
