<!-- nav bar -->
<div class='magellan-container' data-magellan-expedition='fixed'>
  <dl class='sub-nav'>
    <dd data-magellan-arrival='home' class=''>
      <a href='#home'>Home</a>
    </dd>
    <dd data-magellan-arrival='about' class=''>
      <a href='#about'>About Us</a>
    </dd>
    <dd data-magellan-arrival='services' class=''>
      <a href='#services'>Services</a>
    </dd>
    <dd data-magellan-arrival='contact' class=''>
      <a href='#contact'>Contact</a>
    </dd>
  </dl>
</div>
